<!DOCTYPE html>
<html>
<head>
  <title>Śmierdzi?</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= stylesheet_link_tag "no_map", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_12">
  <%- unless flash[:notice].blank? %>
  <div class="grid_8 prefix_2 suffix_2" id='flash_message'>
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
